<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Actividades
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let activity of activities; let i = index">
      <ion-avatar slot="start">
        <img src="{{activity.image + '?t' + i}}">
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <p>{{activity.schedule}}</p>
        <h2>{{activity.name}}</h2>
        <p>{{activity.topic}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
