<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Disertantes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let speaker of speakers; let i = index" style="background-color: aliceblue">
    <img src="{{ speaker.image + '?random=4' + i}}"/>
    <ion-card-header>
      <ion-card-title>{{speaker.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{speaker.description}}
    </ion-card-content>
  </ion-card>
</ion-content>
