<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Hoteles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let hotel of hotels; let i = index" style="background-color: aliceblue">
    <img src="{{ hotel.image + '?random=1' + i}}"/>
    <ion-card-header>
      <ion-card-title>{{hotel.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{hotel.address}}
    </ion-card-content>
  </ion-card>
</ion-content>
