<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Organizadores
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides style="padding-bottom: 30px" pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let organizer of organizers; let i = index">
      <ion-card style="background-color: aliceblue">
        <img src="{{ organizer.image + '?random=2' + i}}"/>
        <ion-card-header>
          <ion-card-title>{{organizer.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{organizer.description}}
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
