<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Restaurants
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let restaurant of restaurants; let i = index" style="background-color: aliceblue">
    <img src="{{ restaurant.image + '?random=' + i}}"/>
    <ion-card-header>
      <ion-card-title>{{restaurant.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{restaurant.address}}
    </ion-card-content>
  </ion-card>
</ion-content>
