<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="ion-text-center ion-margin-bottom">
    <h1 style="font-size:1.4em" no-margin>Congreso<br>
      Médico</h1>
  </section>
  <ion-grid>

    <ion-row>
      <ion-col col-6 (click)="goSpeakers()">
        <ion-card class="ion-text-center ion-padding" color="danger">
          <ion-icon name="people"></ion-icon>
          <h4 text-center>Disertantes</h4>
        </ion-card>
      </ion-col>

      <ion-col col-6 (click)="goCredential()">
        <ion-card class="ion-text-center ion-padding" color="danger">
          <ion-icon name="barcode"></ion-icon>
          <h4 text-center>Credencial</h4>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6 (click)="goActivities()">
        <ion-card class="ion-text-center ion-padding" color="danger">
          <ion-icon name="list"></ion-icon>
          <h4 text-center>Actividad</h4>
        </ion-card>
      </ion-col>

      <ion-col col-6 (click)="goOrganizers()">
        <ion-card class="ion-text-center ion-padding" color="danger">
          <ion-icon name="briefcase"></ion-icon>
          <h4 text-center>Organizador</h4>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6 (click)="goHotels()">
        <ion-card class="ion-text-center ion-padding" color="danger">
          <ion-icon name="home"></ion-icon>
          <h4 text-center>Hoteles</h4>
        </ion-card>
      </ion-col>

      <ion-col col-6 (click)="goRestaurant()">
        <ion-card class="ion-text-center ion-padding" color="danger">
          <ion-icon name="restaurant"></ion-icon>
          <h4 text-center>Restaurant</h4>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
